<div class="main--container">
  <header class="header">
    <nav class="header__nav">
      <div class="nav__container">
        <p><a href="#" class="nav__container--logo">MyFlix</a></p>
        <ul class="nav__container--navigation">
          <li class="item"><a href="#!/home">Home</a></li>
          <li class="item"><a href="#!/tv">TV Shows</a></li>
          <li class="item"><a href="#!/movies">Movies</a></li>
          <li class="item"><a href="#!/movies">Discover</a></li>
          <li class="item"><a href="#!/movies">MyList</a></li>
        </ul>
      </div>
      
      <form ng-submit="$ctrl.search($ctrl.query)"class="search--container">
        <button class="search--button"><i class="fas fa-search search--icon"></i></button>
        <input ng-model="$ctrl.query" type="text" class="search--input" placeholder="Titles, Genres, Year">
      </form>
    </nav>
  </header>

  <section class="details--container">
    <img ng-src="{{ $ctrl.movie.Poster }}" alt="Movie Poster">
    <section class="details">
      <h1>{{ $ctrl.movie.Title }}</h1>
      <section class="detail--items">
        <p>Year: {{ $ctrl.movie.Year }}</p>
        <p>Actors: {{ $ctrl.movie.Actors }}</p>
        <p>Director: {{ $ctrl.movie.Director }}</p>
        <p>Metacritic: {{ $ctrl.movie.Ratings[2].Value }}</p>
        <p>Genre: {{ $ctrl.movie.Genre }}</p>
        <p>Plot: {{ $ctrl.movie.Plot }}</p>
        <div class="buttons">
          <button>Add To MyList</button>
          <button>See Trailer</button>
        </div>
      </section>
    </section>
  </section>
</div>
